- @assignments.each do |assignment|
  .col-md-3.text-center
    .list-group-item
      = link_to assignment.name, assignment_path(assignment)
      %br
      = link_to "edit", edit_assignment_path(assignment)
      |
      = link_to "delete", assignment_path(assignment), method: :delete
    %br
