- if current_page?(new_user_registration_path)
  %h2
    = "New User Registration"
  %h5
    = link_to "Cancel", root_path
- else
  %h2
    = "Edit User Information"
  %h5
    = link_to "Cancel", root_path