.col-lg-4
  %h2 Locations
  %p
    The Iron Yard is continually growing.  Checkout our locations.
  = link_to "Locations", locations_path, class: "btn btn-primary"
.col-lg-4
  %h2 Courses
  %p 
    The Iron Yard continues to offer new courses.  Checkout all the different courses we currently offer.
  = link_to "Courses", courses_path, class: "btn btn-primary"
.col-lg-4
  %h2 Assignments
  %p Checkout your assignments
  = link_to "Assignments", assignments_path, class: "btn btn-primary"