li{
  list-style-type: none;
}

.location-courses{
  background-color: rgb(238, 238, 238);
}

li.inline-footer{
  display: inline-block;
}

.jumbotron{
  color: navy;
  padding-bottom: 20px;
  padding-top: 20px;
}

li.ordered-list{
  list-style-type: circle;
}